@import "tailwindcss";

:root {
  --max-content-width: 48rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--color-paper-100);
    background-color: var(--color-ink-900);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-ink-900);
    background-color: var(--color-paper-100);
  }
}

@theme {
  --text-caption: 12px;
  --text-body: 18px;
  --text-heading-1: 72px;
  --text-heading-2: 36px;
  --text-heading-3: 24px;
}

@theme inline {
  --font-sans: var(--font-lato);
  --font-serif: var(--font-crimson-text);
  --font-symbol: var(--font-noto-symbol);
  --font-title: var(--font-jetbrains-mono);

  --color-border: #c1c1c1;
  --color-border-dark: #3a3a3a;

  --color-paper-100: #fffdf4;
  --color-paper-200: #f5f1e7;
  --color-paper-300: #e3dccb;
  --color-paper-400: #c4bba6;
  --color-paper-500: #a39882;
  --color-paper-600: #7c6f5e;
  --color-paper-700: #5c4e3f;
  --color-paper-800: #3b2e20;
  --color-paper-900: #1c0f00;

  --color-ink-900: #182133;
  --color-ink-800: #2e3a4e;
  --color-ink-700: #46506a;
  --color-ink-600: #5e6a87;
  --color-ink-500: #7a849f;
  --color-ink-400: #949eb5;
  --color-ink-300: #adb6cb;
  --color-ink-200: #c4cce0;
  --color-ink-100: #d9dfe8;
}

@layer base {
  body {
    font-size: var(--text-body);
  }

  h1 {
    font-size: var(--text-heading-1);
  }

  h2 {
    font-size: var(--text-heading-2);
  }

  h3 {
    font-size: var(--text-heading-3);
  }
}

body {
  font-family: var(--font-lato), sans-serif;
}
